.command {
    font-size: 1.4rem;

    &__name {
        font-size: 2rem;
        font-weight: 700;
        margin: 1.5rem 0;
        @extend .grey, .lighten-2;
    }

    &__description {
        margin: 1rem 0;
    }

    &__option-list {

        &__item {
            margin: 1rem 0 1rem 0;
        }
    }

    &__option {

        &__code {
            @extend .grey, .lighten-3;
        }

        &__description {
            display: block;
            padding: 0 0 0 4rem;
        }

    }
}