/***************
    Nav List
***************/
.table-of-contents {
    display: flex;
    flex-wrap: wrap;
    width: 80%;

  &.fixed {
      position: fixed;
    }

  li {
    padding: 2px 0;
  }
  a {
    display: inline-block;
    font-size: 1.4rem;
    font-weight: 300;
    color: #ffffff;
    padding-left: 16px;
    height: 3.5rem;
    line-height: 3.5rem;
    letter-spacing: .4;
    display: inline-block;

    &:hover {
      padding-left: 15px;
      border-left: 1px solid $primary-color;
    }
    &.active {
      font-weight: 500;
      padding-left: 14px;
      border-left: 2px solid $primary-color;
      border-bottom: 2px solid #eee;

      background-color: $primary-color;

    }
  }

}
