body {
    // font-family: Futura, Futura-Medium, "Futura Medium", "Century Gothic", CenturyGothic, "Apple Gothic", AppleGothic, "URW Gothic L", "Avant Garde", sans-serif;    
    // font-weight: 400;
    font-size: 16px;
    // line-height: 1.7;

}

.heading-primary {
    // font-size: 3rem;
    // font-weight: 700;
    // text-transform: uppercase;
    // letter-spacing: 0.2rem;

    // @include respond(phone){
    //     font-size: 2.5rem;
    // }
}

.heading-secondary {
    font-size: 4rem;
    // font-weight: 700;
    text-transform: uppercase;
    // margin: 0 0 7rem 0;
    // margin: 3rem 0 7rem 0;
    margin-top: .5rem;
    margin-bottom: 7rem;

}

.heading--icon {
    width: 100%;
    font-size: 4rem;
}

.heading-third {
    // font-size: $default-font-size;
    // font-weight: 700;
    // text-transform: uppercase;
}